* {
  border: 1px solid black;
  font-size: calc(9px + 2vmin);
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: clamp(350px, 99%, 1200px);
}

.Header h1 {
  display: flex;
  justify-content: center;
  font-size: calc(12px + 3vmin);
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-height: 5vh;
}

.portfolio,
.portfolio-link {
  font-size: calc(6px + 2vmin);
  margin-top: 0;
  margin-bottom: 0.5%;
}

.credit,
.credit-link {
  font-size: calc(5px + 1vmin);
  margin: 0;
}

.portfolio-link,
.credit-link {
  color: #209cee;
  text-decoration: none;
  font-weight: bolder;
}

.portfolio-link:hover,
.credit-link:hover {
  text-decoration: underline;
}
